body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;   
}

.white-section {
color: #212529;
}

.color-section {
    color: white;
}

/* Title Section */

#title {
    background-color:#ff4c68;
}

.container-fluid {
    padding: 7% 13%;
}

#title .continer-fluid  {
    padding: 3% 15% 7%;
}

.big-heading {
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    size: 3.5rem;
    line-height: 1.5;
}


/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}

/* Cell Phone Image */

.phone-image {
    transform: rotate(25deg);
    width: 50%;
    position: absolute;
    right: 30%;
}

/* Navigation Bar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    margin-left: 0;
    font-size: 2rem;  
    font-weight: bold;
}

.nav-item {
    margin: 0px 18px;
}

.nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 200;
}


/* Features Section*/

#features {
    background-color: white;
    position: relative;
}

.feature-card {
    padding: 5%;
}

.fa-check-circle, .fa-bullseye, .fa-heart {
    color: #ef8172;
    font-size: 3em;
    margin-bottom: 1rem;
}

.fa-check-circle:hover, .fa-bullseye:hover, .fa-heart:hover {
    color: #ff4c68;
}


.feature-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
}

.feature-text {
    color: #8f8f8f;
}

/* Testimonial Section */

#testimonials {
    background-color: #ef8172;
}

.testimonial-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
}

.testimonial-image {
    width: 10%;
    border-radius: 50%;
    margin: 20px;
}


/* Press Section */

#press {
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-img {
    width: 15%;
    margin: 20px 20px 50px 0;
}

/* Pricing Section  */

#pricing {
    padding-top: 20px;
    text-align: center;
}

.section-heading {
    font-size: 2rem;
    line-height: 1.5;
}

.price-text {
    font-size: 2rem;
    line-height: 1.5;
}

/* CTA Section */
#cta {
    background-color:  #ff4c68;
}


/* Media Queries */

@media (max-width:1028px) {

    #title {
        text-align: center;
    }

    .phone-image {
        transform: rotate(0);
        position: static;
 
    }

}